body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.ad {
    margin: 10px 0;
}

.ad-top {
    order: -1; /* Position at the top */
}


.ad-right {
    order: 1; /* Position on the right */
    align-self: flex-start;
}

.ad-bottom {
    order: 2; /* Position at the bottom */
}

.article-content {
    max-width: 800px;
    text-align: justify;
}